.btn {border-width: 0 0 3px 0; font-weight: bold; font-size: 14px; padding-left:20px; padding-right: 20px;}
.btn-border {border-radius:4px; border-width: 1px; border-color: $border-gray; color:#333; font-weight: normal; font-size: 18px;
  &:hover {color:$brand-primary}
}
.btn-default {@extend .hvr-sweep-to-top;}

.filter-button-group button {margin-bottom: 10px;}