// Grid system
.main {
  @include make-xs-column(12); @include make-sm-column($main-sm-columns); padding:0;
  @media screen and (max-width: $screen-xs-max) {padding-left:15px; padding-right:15px}
  .sidebar-primary & {
    @include make-xs-column(12); @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-xs-column(12);@include make-sm-column($sidebar-sm-columns);
  @media screen and (max-width: $screen-xs-max) {clear:both}
}

.page-template-template-reviews {
  .main {
    @include make-xs-column(12); @include make-sm-column(9); padding:0;
    .sidebar-primary & { @include make-xs-column(12); @include make-sm-column(3);}
  }
  .sidebar {@include make-xs-column(12);@include make-sm-column(3);}
}