/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated { -webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel,.hp-reviews .reviews-list { display: none; width: 100%; -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */ position: relative; z-index: 1;
  .owl-stage { position: relative; -ms-touch-action: pan-Y;
    &:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
  }
  .owl-stage-outer { position: relative; overflow: hidden; /* fix for flashing background */ -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none;
    img { display: block; height: auto; max-width: 100%; -webkit-transform-style: preserve-3d; }
  }
  .owl-nav, .owl-dots {
    &.disabled { display: none; }
  }
  .owl-nav {
    .owl-prev, .owl-next { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  }
  .owl-dot { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  &.owl-loaded { display: block; }
  &.owl-loading { opacity: 0; display: block; }
  &.owl-hidden { opacity: 0; }
  &.owl-refresh .owl-item { display: none; }
  &.owl-drag .owl-item { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
  &.owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
  &.owl-rtl { direction: rtl; }
  &.owl-rtl .owl-item { float: right; }
}


//
//.hp-reviews .reviews-list { display: none; width: 100%; -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */ position: relative; z-index: 1; }
//.hp-reviews .reviews-list .owl-stage { position: relative; -ms-touch-action: pan-Y; }
//.hp-reviews .reviews-list .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
//.hp-reviews .reviews-list .owl-stage-outer { position: relative; overflow: hidden; /* fix for flashing background */ -webkit-transform: translate3d(0px, 0px, 0px); }
//.hp-reviews .reviews-list .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }
//.hp-reviews .reviews-list .owl-item img { display: block; height: auto; max-width: 100%; -webkit-transform-style: preserve-3d; }
//.hp-reviews .reviews-list .owl-nav.disabled, .hp-reviews .reviews-list .owl-dots.disabled { display: none; }
//.hp-reviews .reviews-list .owl-nav .owl-prev, .hp-reviews .reviews-list .owl-nav .owl-next, .hp-reviews .reviews-list .owl-dot { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
//.hp-reviews .reviews-list.owl-loaded { display: block; }
//.hp-reviews .reviews-list.owl-loading { opacity: 0; display: block; }
//.hp-reviews .reviews-list.owl-hidden { opacity: 0; }
//.hp-reviews .reviews-list.owl-refresh .owl-item { display: none; }
//.hp-reviews .reviews-list.owl-drag .owl-item { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
//.hp-reviews .reviews-list.owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
//.hp-reviews .reviews-list.owl-rtl { direction: rtl; }
//.hp-reviews .reviews-list.owl-rtl .owl-item { float: right; }

/* No Js */
.no-js .owl-carousel { display: block; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy { opacity: 0; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease; }
.owl-carousel .owl-item img { transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper { position: relative; height: 100%; background: #000; }
.owl-carousel .owl-video-play-icon { position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; background: url("../images/owl.video.play.png") no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; -webkit-transition: scale 100ms ease; -moz-transition: scale 100ms ease; -ms-transition: scale 100ms ease; -o-transition: scale 100ms ease; transition: scale 100ms ease; }
.owl-carousel .owl-video-play-icon:hover { -webkit-transition: scale(1.3, 1.3); -moz-transition: scale(1.3, 1.3); -ms-transition: scale(1.3, 1.3); -o-transition: scale(1.3, 1.3); transition: scale(1.3, 1.3); }
.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon { display: none; }
.owl-carousel .owl-video-tn { opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease; }
.owl-carousel .owl-video-frame { position: relative; z-index: 1; height: 100%; width: 100%; }
/*
 * 	Default theme - Owl Carousel CSS File
 */

.owl-theme, .hp-reviews {
  .owl-nav { margin-top: 10px; text-align: center; -webkit-tap-highlight-color: transparent;
    [class*='owl-'] { color: #333; margin: 5px 10px; padding: 7px 12px; display: inline-block; cursor: pointer; border-color: #c5c5c5 #c5c5c5 $brand-primary #c5c5c5; border-style: solid; border-width: 1px 1px 2px 1px; font-size: 18px; background: #f0f0f0;@extend .hvr-sweep-to-top;
      &:hover { /*background: $brand-primary;*/ color: #FFF; text-decoration: none; }
    }
    .disabled { opacity: 0.5; cursor: default; }
    &.disabled + .owl-dots { margin-top: 10px; }
  }
  .owl-dots { text-align: center; -webkit-tap-highlight-color: transparent;
    .owl-dot { display: inline-block; zoom: 1; *display: inline;
      span { width: 10px; height: 10px; margin: 5px 7px; background: red; display: block; -webkit-backface-visibility: visible; -webkit-transition: opacity 200ms ease; -moz-transition: opacity 200ms ease; -ms-transition: opacity 200ms ease; -o-transition: opacity 200ms ease; transition: opacity 200ms ease; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
      &.active span,&:hover span { background: #869791; }
    }
  }
}