.alter-bg {padding-top:35px; padding-bottom: 35px; background: #f0f0f0; box-shadow: inset 0 0 2px #ccc}
.white-bg {padding-top:35px; padding-bottom: 35px;}
a, button {
  &:focus, &:active {outline: none !important}
}
img {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.video-container, .map-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.map-container {padding-bottom: 300px;}
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.map-container iframe, .map-container object, .map-container embed, .map-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.no-padding {padding-left:0; padding-right:0}
.no-padding-left {padding-left:0}
.no-padding-right {padding-right:0}
.sep {
  hr {width:80px; position: relative; border-color: $border-gray;
    &:before, &:after {content:"";position: absolute; width:56px; left:50%; margin-left:-23px; height:1px; background: $border-gray}
    &:before {top:-6px}
    &:after {bottom:-5px}
  }
}

.main {
  a {color:$link-hover-color;}
  a.btn-default {color:#FFF}
}
  // Social Icons
  .social-share-icons { padding-bottom: 15px; padding-top: 15px; display:inline;
    .gb-share-link {border-radius:0; background: #FFF; border:1px solid #ccc; margin-right: 5px; padding:5px 7px; font-size: 14px; color:$text-color; font-weight: normal;@extend .hvr-sweep-to-top;}
    .fa-twitter {color:#00aaf0}
    .fa-facebook {color:#435f9f}
    .fa-google-plus {color:#e04b34}
    .fa-pinterest {color:#ce1f21}
  }

.with-overlay {position: relative;z-index: 1; overflow: hidden;
  &:after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 800px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}