.pre-footer {background-color: #333; color:#FFF; padding:35px 0; position: relative; background-attachment:fixed; background-size:cover;
  .overlay {background: rgba(51,50,56,0.85); position: absolute; top:0; left:0; width:100%; height:100%;}
  h3, h4, a {color:#FFF;}
  a:hover {color:$brand-primary}
  ul { padding-left:10px; overflow: hidden; list-style-type: none;
    li.menu-item { @include make-sm-column(6);padding-left:0;
     a:before {content:"\f105"; font-family: "FontAwesome"; margin-right:10px;}
    }
    li {
      a:before {content:"\f105"; font-family: "FontAwesome"; margin-right:10px;}
    }
  }

}
.content-info {padding:25px 0}
.credits, .copyright {text-align: center; font-size: 14px;}
.credits {color:#999;
  a {color:#777;}
}

@media screen and (min-width: $screen-xs-max) {
  .credits {text-align: right;}
  .copyright {text-align: left;}
}