.topbar {background: #f0f0f0;position: relative; padding:3px 0;
  a {display: inline-block}
  &:after {content:""; position: absolute; width: 100%; height:1px; background: #FFF; bottom:2px; left:0}
}
.header-phone { margin-top:15px; text-align: center;
  a {color:#373737;
    &:hover, &:active, &:focus {color:$brand-primary}
  }
  .fa {display: block}
  .call-us {font-size: 14px; line-height: 15px; clear:left;}
  .phone-number {font-size: 22px; line-height: 24px; clear:left;}
}
.logo {text-align: center}
.navbar-default {margin-top:15px;}
.navbar-brand {float:none; text-align: center; margin-top:-16px; padding:0;height:140px;
  img {margin:0 auto}
}
.navbar-title {font-size: 16px; color:#373737; line-height: 65px; padding-left:15px; font-weight: bold; text-transform: uppercase}
.menu-main-menu-container {text-align: center}
.navbar-static-top  {border:none;}
.header-search { margin-top:55px !important; font-size: 14px; width:180px;
  .input-group {position:relative}
  .input-group-btn {position: static}
  input.search-field {padding-left:35px;color:#666;}
  button {position: absolute !important; background: transparent; left:0; top:0;padding:6px 10px;z-index: 99 !important;
    &:hover {color:$brand-primary}
  }
}
.dropdown-menu > li > a {font-size: 14px;text-align: center}
.navbar-toggle {background: #373737}
.navbar-nav { margin-left:0; margin-right:0;
  > li {
    &.active {border-bottom: 3px solid $brand-primary; border-top:3px solid #FFF; position: relative;
      &:before, &:after {content:""; position: absolute;height:100%; width:1px;z-index: 2;top:0;}
      &:before { left:-1px;  box-shadow: 1px 0 1px #ddd;}
      &:after { right:-1px; box-shadow: -1px 0 1px #ddd;}
    }
  }
}
.page-header { margin-top:0; background:#f0f0f0; position: relative; background-size: cover; background-attachment: fixed; margin-bottom: 35px;
  .overlay {position:absolute; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.8)}
  h1 {color:#FFF; text-shadow:1px 1px 2px #333; font-weight: 400; font-size: 24px;}
}
#breadcrumbs {font-size:14px; color:#FFF;
  a {color:#FFF;
    &:hover {color:$brand-primary}
  }
}

@media screen and (min-width: $screen-md-min){
  .header-search {margin-top:35px; }
  .header-phone {text-align: left; margin-top:35px;
    .fa {float:left; margin-right:10px;display: inline-block}
    .call-us, .phone-number {clear:none}
    .phone-number {font-size: 24px;}
  }
  .navbar-brand {display: block; text-align: center; }
  .page-header h1 {font-size: 32px;}
  .dropdown-menu > li > a {text-align: left;}
  //ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }

}
@media screen and (min-width: $screen-lg-min) {
  .navbar-nav > li > a {padding-left: 27px; padding-right:27px;}
  .page-header h1 {font-size: 36px;}
}
