// HomePage
.home {
  h2.text-center {margin-top:0;}
}
.hp-intro {padding:50px 0;
  .intro-text h1 {padding:25px; background: rgba(0,0,0,0.5); text-shadow:1px 1px 2px #333; font-size: 28px; font-family: $font-raleway; color:#FFF;}
}
.hp-reviews {
  .wpcr3_review {float:left; margin-top:25px;
  &:nth-of-type(2n+1) {clear:left;}
    @media (min-width: $screen-md-min) {
      &:nth-of-type(2n+1) {clear:none}
      &:nth-of-type(3n+1) {clear:left} 
    }
  }
  .wpcr3_dotline, .wpcr3_item_name, .wpcr3_aggregateRating {display: none !important;}
  .wpcr3_review_custom_label {display: none}
  div.wpcr3_review .wpcr3_review_ratingValue {position: absolute; top:0; right:22px}

  .wpcr3_content {float:left; text-align: justify}
  div.wpcr3_rating_style1 div {display: block !important;}
  .reviews-cta {margin-top: 35px;}
  .wpcr3_review_author {padding-right:22px;}

}
.read-more {position: relative; color: #333 !important; margin-top: 5px; line-height: 32px;display: inline-block; font-weight: 500; font-size: 14px;
  &:after {content:""; position: absolute; bottom:0; left:0; width:34px; height:3px; background: $brand-primary}
}
.red {color:$brand-primary}
.cta-contact {
  .cta-text { margin-bottom: 0; text-align: center;
    h3 {font-family: $font-raleway; font-size: 22px; font-weight: bold;line-height: 26px; margin:0}
  }
  .btn {display: inline-block; margin-top:8px; max-width: 150px; }
}
.service-box { margin-bottom:35px;
  @media screen and (max-width: $screen-xs-max) {float: none; max-width: 400px; margin-left:auto; margin-right:auto;}
  .service-title {font-weight: normal; font-size: 22px;}
}
.acc-logos {
  .widget {text-align: center; display: inline-block; height:110px; margin-right:20px; margin-left:20px; margin-bottom: 25px;
  img {display: inline-block}
  }
  .textwidget {float:left;}
  //.buildzoom, .porch {margin-top:20px;}
}
.social-share-container {margin:35px 0; text-align: center}
// Reviews
div.wpcr3_review, .wpcr3_review_item { position: relative;
  .wpcr3_review_custom_label {display: none !important;}
  div.wpcr3_review_customs {display:inline !important;}
  div.wpcr3_review_custom {float:none; margin-right: 22px;}
  blockquote.wpcr3_content {padding-bottom: 0; text-align: justify}
  div.wpcr3_review_author {width:100%; text-align: right}
  div.wpcr3_review_title {padding-right:120px; line-height: 16px;}
  div.wpcr3_review_ratingValue {position: absolute; top:0; right:13px;}
}

.wpcr3_pagination {@extend .clearfix; border-width:1px 0 1px 0;border-style: solid; border-color: $border-gray; padding-top:25px; padding-bottom: 25px; margin-top:25px; text-align: center;
  .wpcr3_a {display: inline-block; float:none; margin:0 3px;
    &:hover, &.wpcr3_current {background: $brand-primary}
  }
  .wpcr3_pagination_page {display: none}
}

// Projects
.grid {margin-bottom: 50px;}
.grid-item { margin-bottom: 30px;}


@media screen and (min-width:$screen-sm-min){
  .cta-contact {
    .cta-text {text-align: left;}
  }

}


@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .service-box:nth-of-type(2n+1) {clear:left}
}

@media screen and (min-width: $screen-md-min) {
  .service-box:nth-of-type(3n+1) {clear:left}
  .hp-intro {padding:150px 0;}

}
