.blog, .category {
  .main {border-right:1px solid #eee;}
  .type-post {margin-top:25px;}
  .entry-title {margin-top: 0; font-size: 22px; font-weight: 400;}
  time {font-size: 12px; float:right}
  .vcard {float:left;}
}