.page-template-template-reviews-php {
  .sidebar {
    .widget {margin-bottom: 35px;}
    .porch-psumm-widget {width:100% !important;}
  }
}
aside.sidebar {
  h3 {font-weight: 400; margin-top:0; font-size: 20px;}
  .widget {margin-bottom: 25px;}
  ul {list-style-type: none; padding-left:15px;
    li {}
    a { color:#333;
      &:before {content:"\f105"; font-family: "FontAwesome"; margin-right:5px;}
      &:hover {color:$brand-primary;
        &:before {margin-right:7px;}
      }
    }
  }
}
.service-side {
  h5 {font-weight: 400;}
  a.active {
    h5 {color:$brand-primary}
  }
}
